$image-background: #F2F2F2;
$type-background: cadetblue;
$evolution-background: darkseagreen;
$info-color: #ffffff;
$item-size: 170px;
$image-width: $item-size - 50;
$margin: 5px;
$border-radius: 5px;
$title-font-size: 20px;
$info-font-size: 12px;
$box-shadow-black: 0 10px 16px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-shadow-blue: 0 10px 16px 0 rgba(14, 136, 229, 0.20), 0 6px 20px 0 rgba(14, 136, 229, 0.19);

.list-item {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: $item-size;
  padding: 10px 10px 20px 10px ;
  margin: $margin;
  background: $image-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow-black;

  &__link {
    display: block;
    color: darkseagreen;
    text-decoration: none;
    font-size: $title-font-size;

    :hover {
      text-decoration: underline;
    }
  }

  &__details-label {
    text-decoration: underline;
    display: block;
    margin: 15px 0;
  }

  &__type-value {
    background-color: darkseagreen;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    color: dimgrey;
  }

  &__info {
    text-align: left;
    padding: $margin;
  }

  &__info-title{
    margin: 0 0 $margin 0;
    font-size: $title-font-size;
  }

  &__info-abilities{
    display: flex;
  }

  &__info-ability--item {
    width: 50%;
    border-radius: $border-radius - 3;
    text-align: center;
    color: $info-color;
    margin: 0 3px;
    font-size: $info-font-size;
  }

  &__info-type {
    background-color: $type-background;
  }

  &__info-evolution {
    background-color: $evolution-background;
  }
}
