$header-height:  87px;

.header {
  height: $header-height;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__home-menu {
    padding: 0;
    height: 100%;
  }

  &__logo{
    height: 70px;
    padding: 8px;
  }
}

@media (min-width: 1400px) {
  .header {
    &__container {
      max-width: 1376px;
    }
  }
}
